.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.button {
  height: 100%;
}

.body-container{
  padding: 25px 0;
}

.filter-selector{
    height: 34px;
    text-align: center;
}
.todo-container{
  border: 1px solid #b3bbcc;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
